<%= form_for [:admins, @course], :remote => true do |f| %>
  <div class="modal-body">
    <div class="error-container"></div>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :department_id %><br>
      <%= f.select :department_id, options_for_select(Department.all.collect {|p| [ p.name, p.id ] },(f.object.try(:department_id))),{include_blank: 'Select Department'}, { :class => 'input-lg form-control'} %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <%= f.submit "Save Course", class: "btn btn-primary" %>
  </div>
<% end %>

