<div class="col-md-10" style="margin-right:20px;">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header">Welcome SCSERP</h3>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-12 thumb">
      <a class="thumbnail" href="#">
        <%= image_tag "admission-icon-1.jpg", :style => "width:160px;height:160px;", class: "img-responsive" %>
        <div class="caption-link">
          <h3 class="text-center">Admissions</h3>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-12 thumb">
      <a class="thumbnail" href="#">
        <%= image_tag "attendence-icon.png", :style => "width:160px;height:160px;", class: "img-responsive" %>
        <div class="caption-link">
          <h3 class="text-center">Attendance</h3>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-12 thumb">
      <a class="thumbnail" href="#">
        <%= image_tag "employee-icon.jpg", :style => "width:160px;height:160px;", class: "img-responsive" %>
        <div class="caption-link">
          <h3 class="text-center">Employees</h3>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-12 thumb">
      <a class="thumbnail" href="/admin/news">
        <%= image_tag "news_icon.jpg", :style => "width:160px;height:160px;", class: "img-responsive"  %>
        <div class="caption-link">
          <h3 class="text-center">Manage News</h3>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-12 thumb">
      <a class="thumbnail" href="#">
        <%= image_tag "library-icon-1.jpg", :style => "width:160px;height:160px;", class: "img-responsive" %>
        <div class="caption-link">
          <h3 class="text-center">Library</h3>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-12 thumb">
      <a class="thumbnail" href="#">
        <%= image_tag "hr-icon.gif", :style => "width:160px;height:160px;", class: "img-responsive" %>
        <div class="caption-link">
          <h3 class="text-center">Human Resources</h3>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-12 thumb">
      <a class="thumbnail" href="#">
        <%= image_tag "student-icon.jpg", :style => "width:160px;height:160px;", class: "img-responsive" %>
        <div class="caption-link">
          <h3 class="text-center">Students</h3>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-12 thumb">
      <a class="thumbnail" href="#">
        <%= image_tag "finance-icon-1.jpg", :style => "width:160px;height:160px;", class: "img-responsive" %>
        <div class="caption-link">
          <h3 class="text-center">Finance</h3>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-12 thumb">
      <a class="thumbnail" href="#">
        <%= image_tag "setting-icon-1.png", :style => "width:160px;height:160px;", class: "img-responsive" %>
        <div class="caption-link">
          <h3 class="text-center">Settings</h3>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-12 thumb">
      <a class="thumbnail" href="/admin/exams">
        <%= image_tag "exam-icon.jpg", :style => "width:160px;height:160px;", class: "img-responsive" %>
        <div class="caption-link">
          <h3 class="text-center">Examination</h3>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-12 thumb">
      <a class="thumbnail" href="#">
        <%= image_tag "time-table-icon.jpg", :style => "width:160px;height:160px;", class: "img-responsive" %>
        <div class="caption-link">
          <h3 class="text-center">Timetable</h3>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-12 thumb">
      <a class="thumbnail" href="#">
        <%= image_tag "guardians-icon.jpg", :style => "width:160px;height:160px;", class: "img-responsive" %>
        <div class="caption-link">
          <h3 class="text-center">Guardians</h3>
        </div>
      </a>
    </div>
  </div>
</div>